<app-pokemon></app-pokemon>
<div class="form-field-container">
  <div class="label-container">
    <label>Add a Pokemon</label>
  </div>
  <div *ngIf="(pokemonResponse$ | async) as pokemonResponse" [hidden]="trainersPokemon.length >= 6">
    <mat-form-field>
      <mat-label>Pokemon</mat-label>
      <mat-select matNativeControl required [(ngModel)]="selectedPokemon">
        <mat-option *ngFor="let pokemon of pokemonResponse.data" [value]="pokemon">{{pokemon.pokemonName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button class="custom-button" (click)="addPokemon(); html_log(trainersPokemon.length)">Add Pokemon</button>
    </div>
  </div>
</div>
