/* Your existing styles for other elements */

.label-container {
  margin-bottom: 10px; /* Adjust the margin to create space between the label and the dropdown */
}

.label-container label {
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
  font-weight: bold; /* Optionally, make the label bold */
}

.form-field-container {
  padding: 10px; /* Adjust the padding to control the white space around the form field */
  border: 2px solid white; /* Add a border of white space around the form field */
  border-radius: 8px; /* Optionally, add rounded corners */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  margin: 5px;
  max-width: 1000px;
}

.pokemon-card {
  flex: 1; /* Each box takes equal width */
  min-width: 250px; /* Set a minimum width for each box */
  max-width: 320px;
  width: 100%;
  margin: 10px; /* Add spacing between the boxes */
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
}