<mat-card class="pokemon-card">
  <mat-card-header>
    <img mat-card-avatar src="{{pokemon.images['icons'][0]}}"/>
    <mat-card-title>{{pokemon.pokemonName | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{pokemon.genus}} Pokemon</mat-card-subtitle>
    <mat-form-field class="level">
      <mat-label>LVL</mat-label>
      <input matInput [(ngModel)]="level">
    </mat-form-field>
  </mat-card-header>

  <div [hidden]="opponent === true">
    <div class="move-card-container">
      <div *ngFor="let moves of pokemon.selectedMoves" class="move-card">
        <app-move [move]="moves"></app-move>
      </div>
    </div>

    <div class="move-adder" [hidden]="numMoves >= 4">
      <mat-form-field>
        <mat-label>Add a move</mat-label>
        <mat-select matNativeControl required [(ngModel)]="selectedMove">
          <mat-option
            *ngFor="let move of possibleMoves"
            [ngClass]="{'strong': move.power >= 100, 
                        'normal': (move.power >= 50 && move.power < 100), 
                        'weak': move.power < 50}" 
            [value]="move"
            [disabled]="alreadySelected(move)">
            {{move.moveName}} {{ hasMatchingType(move) ? '✅' : '' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button class="custom-button" (click)="addMove()">Add Move</button>
      </div>
    </div>
  </div>
</mat-card>
