<mat-card class="pokemon-card">
  <mat-card-header>
    <img mat-card-avatar src="{{pokemon.images['icons'][0]}}"/>
    <mat-card-title>{{pokemon.pokemonName | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{pokemon.genus}} Pokemon</mat-card-subtitle>
    <mat-form-field class="level">
      <mat-label>LVL</mat-label>
      <input matInput [(ngModel)]="level">
    </mat-form-field>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button>add a move</button>
  </mat-card-actions>
</mat-card>
